*.jou
*.log
*.str
*.bak
*.backup
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
.gen/
.ip_user_files/
webtalk*
*.Xil/

*.bit
*.bin
*.ltx
*.dcp
*.rpt
*.mmi

*.vcd
*.vpd
*.wlf
*.saif

target/
.bsp/
project/
project-build/

.vscode/
.idea/

Thumbs.db
.DS_Store
*.swp
*~

*.key
*.pem
.ssh/
