*.jou
*.log
*.str
*.bak
*.backup
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
.gen/
webtalk*
*.Xil/
*.xil/
obj_dir/
sim_build/
build/
__pycache__/

*.fst
*.bit
*.bin
*.ltx
*.dcp
*.rpt
*.mmi
*.vvp
*.o *.elf *.map *.out

*.vcd
*.vpd
*.wlf
*.saif

target/
.bsp/
project-build/

.vscode/
.idea/

Thumbs.db
.DS_Store
*.swp
*~

*.key
*.pem
.ssh/
